.temperature {
	text-align: center;

	&__main {
		font-size: 4rem;
		line-height: 1;
		font-weight: 300;
		position: relative;
		margin-bottom: 20px;

		span {
			font-size: 1.5rem;
			position: absolute;
			top: 10px;
		}

	}

	&__description {
		font-size: 0.8rem;
		color: rgba(0, 0, 0, 0.5);
	}
}