.search-form {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	display: flex;

	&__input {
		margin: 0;
		padding: 0;
		border: 0;
		border-radius: 10px;
		flex-grow: 1;
		background: transparent;
		padding: 0 10px;
		outline: none;
	}

	&__button {
		padding: 0;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;
		outline: none;

		&:hover {
			border-color: transparent;
		}

		&:focus,
		&:focus-visible {
			outline: none;
		}
	}
}