.app {
  width: 80%;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  display: flex;
  min-height: 70vh;

  &__left {
    width: 33%;
    padding: 60px 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__right {
    flex-basis: 0;
    flex-grow: 1;
    padding: 60px 30px;
  }
}