.weather-card {
	&__city {
		font-size: 2.5rem;
		line-height: 1;
		margin: 0;
	}

	&__country {
		font-size: 0.8rem;
		color: rgba(0, 0, 0, 0.5);
	}

	&__time {
		font-weight: bold;
		display: block;
		margin-bottom: 50px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__detail {
		display: flex;
		flex-direction: column;
		gap: 15px;
		font-size: 0.8rem;
		line-height: 1;
		color: rgba(0, 0, 0, 0.5);
		width: 30%;

		strong { color: #000; }

		p {
			margin: 0;
		}
	}
}